body{
    margin: 0;
    height: 100%;    
    font-family: 'Roboto', sans-serif;
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%),
                      url("images/donation9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-heading{
    color: white;
    margin: 0;
    text-align: center;
    font-size: 48px;
}
.hero-description{
    color: white;
    text-align: center;
    font-size: 20px;
}
.hero-button{
    background-color: #de0c78;  
    border: 0ch;  
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.donate-page{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 256px;

}
#donate-heading{
    font-size: 48px;
    padding: 128px 0px 0px 0px;
}
.amount-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    margin-bottom: 48px;
}
.amount-iteam{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    font-size: 32px;
    height: 128px;
    width: 128px;
    background-color: aliceblue;
}
.donate-description{
    text-align: center;
    font-size: 20px;
    color: gray;
}
#amount{
    font-size: 16px;
    width: 60vw;
    padding-bottom: 8px;
    text-align: center;
    outline: 0;
    border-width: 0 0 2px;
}

.donate-button{
    background-color: #de0c78;  
    border: 0ch;  
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.donate-plan{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.plan-heading{
    font-size: 48px;
}
.d-plan-paragraph{
    text-align: center;
    font-size: 20px;
    color: gray;
    padding: 0px 256px;
    margin-bottom: 24px;
}
.plan-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    margin-bottom: 48px;
    padding: 0px 90px;
    text-align: left;
}
.plan-iteam{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 16px;
    font-size: 16px;
    padding: 0px 16px;
    
}
#food{
    background-color: aliceblue;
}
#shelter{
    background-color: rgb(255,213,241);
}
#education{
    background-color: rgb(245,204,140);
}
.contribution-section-1{
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}
.cs1-half{
    width: 45%;
    margin-left: 90px;
}
.cs1-header{
    font-size: 64px;
}
.cs1-paragraph{
    font-size: 24px;
    text-align: left;
}
.cs1-button{
    background-color: #de0c78;  
    border: 0ch;  
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;

}
.cs1-imagehalf{
    width: 60%;
    height: 70%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 36px;

}
.contribution-section-2{
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin-top: 90px;
}
.cs2-imagehalf{
    width: 60%;
    height: 70%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 180px;
    

}
.cs2-half{
    width: 45%;
    margin-right: 90px;
}
.cs2-header{
    font-size: 64px;
}
.cs2-paragraph{
    font-size: 24px;
    text-align: left;
}
.cs2-button{
    background-color: #de0c78;  
    border: 0ch;  
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;

}
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-page{
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 256px;
}
#contact-heading{
    text-align: center;
    font-size: 48px;
    padding: 128px 0px 0px 0px;
}
.contact-description{
    text-align: center;
    font-size: 20px;
    color: gray;
}
.mailbox{
    margin-top: 224px;
    background-color: rgb(254,232,231);
    width: 600px;
    padding: 100px;
    margin-bottom: 90px;

}
.footer{
    text-align: center;
    background-color: black;
    height: 20vh;
}
#f1{
    font-family: cursive;
    margin-top: 30px;
    color: #de0c78; 
}
#f2{
    color: white;

}
.mail-form {
    background: black;
    position: relative;
    height: 60px;

}

.mail-form input {
      width: 40%;
      height: 5%;
      border: none;
      padding: 30px;
      background: white;
      color: #fff;
      padding-right: 200px; 
}
.mail-form button {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      width: 140px;
      background-color: black;
      border: none;
      color: #fff;
      font-weight: 500;
       
}
.hover-btn:hover{
    border-style: solid;
    border-color: red;
    color: #de0c78 ;
    background-color: #FFC0CA;
    opacity: 0.5;
}
     